<html>

<include file="Common/head"/>

<body>

<include file="Common/nav"/>


<style>

    .table{width:100%;}
    .table,.table td{border:solid 1px #ccc;}
    .table th{border:solid 1px #ccc;width:10px;}
    .table thead tr td{background: #eee;color:#333;}
    .table,th,td{ border-collapse: collapse;background:#fff;}
    #listdiv{width: 90%; height:100px;MARGIN-RIGHT: auto; MARGIN-LEFT: auto;}
</style>



<div id="listdiv" >


</div>




</body>
</html>



<script type="text/javascript">
    // 百度地图API功能



    function displaylist(data){

        var txthtml="";

        txthtml +="<table id=\"table\" class=\"table\">";
        txthtml+=" <tr>";
        txthtml+=" <th>名称<\/th>";
        txthtml+="<th>价格<\/th>";
        txthtml+="<th>区域<\/th>";
        txthtml+=" <\/tr>";


        $.each(data,function(key,val){
            txthtml +="<tr>";
            txthtml += "<td width=\"8%\"> <a href=\"__MODULE__/Cooler/detail/id/"+val.id +"\">"+val.name+"</a><\/td>"
            txthtml += "<td width=\"8%\">"+val.price+"<\/td>"
            txthtml += "<td width=\"8%\">"+val.loc+"<\/td>"
            txthtml +="<\/tr>"

        });

        txthtml+=" <\/table>";


        $('#listdiv').html(txthtml);

    }


</script>
