<html>

<include file="Common/head"/>

<body>

<include file="Common/nav"/>
<div id="content"></div>



</div>

<include file="Common::bottum"/>

</body>
</html>





<script  src="http://api.map.baidu.com/api?v=2.0&ak=3nbIhiC4xvRt2ofWcRPAo4uj"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>

<script type="text/JavaScript" src='{$Think.const.JS_URL}MarkClusterer.js'></script>


<script >


        // 百度地图API功能
        var m_cities = new Object();
        var m_map = new BMap.Map("content");
        m_map.enableScrollWheelZoom();

        var m_markerClusterer = new BMapLib.MarkerClusterer(m_map, 0);



        function AddCooler(lng,lat,txthtml)
        {
            var point = new BMap.Point(lng, lat);
           // addMarker(point,txthtml);

            var myLabel = new BMap.Label(txthtml,     //为lable填写内容
                    {offset:new BMap.Size(-20,-20),                  //label的偏移量，为了让label的中心显示在点上
                        position:point});                                //label的位置

            myLabel.setTitle("我是文本标注label");               //为label添加鼠标提示

            m_map.addOverlay(myLabel);

        }

        function addMarker(point,txthtml){
           // var marker = new BMap.Marker(point);
           // var label = new BMap.Label(txthtml,{offset:new BMap.Size(20,-10)});
            //marker.setLabel(label);

           // m_map.addOverlay(marker);
          //  m_markerClusterer.addMarker(marker);


            var myLabel = new BMap.Label(txthtml,     //为lable填写内容
                    {offset:new BMap.Size(-20,-20),                  //label的偏移量，为了让label的中心显示在点上
                        position:point});                                //label的位置

            myLabel.setTitle("我是文本标注label");               //为label添加鼠标提示

            m_map.addOverlay(myLabel);

        }


        function addinfoWindow(marker,sContent,imgid){

            var infoWindow = new BMap.InfoWindow(sContent);
            marker.addEventListener("mouseover", function(){
                this.openInfoWindow(infoWindow);
                //图片加载完毕重绘infowindow
                document.getElementById(imgid).onload = function (){
                    infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
                }
            });
        }

        function getBoundary(thecity,clr,line,weight){

            var bdary = new BMap.Boundary();
            bdary.get(thecity, function(rs){       //获取行政区域
                // map.clearOverlays();        //清除地图覆盖物
                var count = rs.boundaries.length; //行政区域的点有多少个
                if (count === 0) {
                    alert('未能获取当前输入行政区域');
                    return ;
                }
                var pointArray = [];
                for (var i = 0; i < count; i++) {
                    var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: weight, strokeColor: clr}); //建立多边形覆盖物
                    ply.setStrokeStyle(line);
                    ply.setFillColor("none");

                    if (m_cities[thecity] != 1) {
                        m_cities[thecity] = 1;
                        m_map.addOverlay(ply);  //添加覆盖物
                    }

                    pointArray = pointArray.concat(ply.getPath());
                }
                m_map.setViewport(pointArray);    //调整视野
            });
        }


        function displaymap(data){

            var allOverlay = m_map.getOverlays();
            var len = allOverlay.length;

            for (var i = 0; i < len; i++){
                if(allOverlay[i] instanceof BMap.Marker){
                    m_map.removeOverlay(allOverlay[i]);
                }
            }


            $.each(data,function(key,val){

                var myGeo = new BMap.Geocoder();
                myGeo.getPoint(val.address, function(point){
                    // console.log("point = " + point.lng ,point.lat);

                    if (point) {
                        AddCooler(point.lng, point.lat ,val.name);
                    }else{
                        alert("get point failed:"+val.name);
                    }
                }, "");

            });


        }

        function addStock(lng,lat,txthtml,address)
        {

            var point = new BMap.Point(lng, lat);
            var myLabel = new BMap.Label(txthtml,     //为lable填写内容
                    {offset:new BMap.Size(-20,-20),                  //label的偏移量，为了让label的中心显示在点上
                        position:point});                                //label的位置
            myLabel.setTitle(address);               //为label添加鼠标提

            m_map.addOverlay(myLabel);
        }



        //call when click city
        function displayStock(data) {


            console.log(data);
            var allOverlay = m_map.getOverlays();
            var len = allOverlay.length;

            for (var i = 0; i < len; i++){
                if(allOverlay[i] instanceof BMap.Marker){
                    m_map.removeOverlay(allOverlay[i]);
                }
            }

            $.each(data,function(key,val){

                console.log(val.address);
                addStock(val.lng, val.lat ,val.name,val.address);

            });






        }




        //ajax aysnc call when click provice or  allchina
            function displayStockStatistic(data) {


            var allOverlay = m_map.getOverlays();
            var len = allOverlay.length;

            for (var i = 0; i < len; i++) {
                if (allOverlay[i] instanceof BMap.Marker) {
                    m_map.removeOverlay(allOverlay[i]);
                }
            }
            if(data.length <= 0){
                return ;
            }

            if(data[0].pid == 1){
                m_map.centerAndZoom(new BMap.Point(108.2775440000, 36.0919520000), 5);
               // getBoundary(data[0],"black","solid",2);
            }

           else  {
                getBoundary(data[0].province,"black","solid",2);
            }


            $.each(data,function(key,val){

               // console.log(val.pid);
                addStockStatistic(val.lng, val.lat ,val);
            });



        }


        function addStockStatistic(lng,lat,val)
        {
            var point = new BMap.Point(lng, lat);
            var txthtml;
            if(val.city == ""){
                 txthtml =  "<br>"+ val.stockcount + "<br>"+val.province;
            }
           else{
                 txthtml =  "<br>"+ val.stockcount + "<br>"+val.city;
            }

            var myLabel = new BMap.Label(txthtml,     //为lable填写内容
                    {offset:new BMap.Size(-20,-20),                  //label的偏移量，为了让label的中心显示在点上
                        position:point});                                //label的位置

            myLabel.setTitle("我是文本标注label");               //为label添加鼠标提示

            var bgpng="circle-small.png";
            var ht=40,wd=40;
            if(val.stockcount < 50){
                bgpng = "circle-small.png";
                wd = 40;
                ht=40;
            }else if(val.stockcount >= 50 && val.stockcount < 100){
                bgpng = "circle.png";
                wd = 50;
                ht=50;
            }else if(val.stockcount >= 100 && val.stockcount < 200){
                bgpng = "circle-middle.png";
                wd = 60;
                ht=60;
            }else if(val.stockcount >= 200 ){
                bgpng = "circle-big.png";
                wd = 70;
                ht=70;
            }

            if(val.city != ""){
                bgpng = "circle-city.png";
                wd = 40;
                ht=40;
            }
            myLabel.setStyle({                                   //给label设置样式，任意的CSS都是可以的
                color:"black",                   //颜色
                fontSize:"10px",               //字号
                border:"0",                    //边
                height:ht,                //高度
                width:wd,                 //宽
                textAlign:"center",            //文字水平居中显示
                lineHeight:"10px",            //行高，文字垂直居中显示
                background:"url(http://127.0.0.1/cooler/Public/Home/img/"+bgpng+") no-repeat -1px -1px",    //背景图片，这是房产标注的关键！
                cursor:"pointer"
            });





            myLabel.addEventListener("click", function(){

                console.log("val.province"+val.province+" , city : "+ val.city + " , district ; "+val.district);

                if(val.province != "" && val.city != "" && val.district == ""){


                    //alert("getStock");
                    $.post("__MODULE__/Cooler/getStockOfCity", {
                        city :  val.id ,
                    }, function (data, textStatus){
                        displayStock(data);
                    },"json");

                }
                else{

                  console.log("else");
                    $.post("__MODULE__/Cooler/getStockStatistic", {
                        cid :  val.id ,
                    }, function (data, textStatus){
                        displayStockStatistic(data);
                    },"json");


                }





            });



            m_map.addOverlay(myLabel);



        }




</script>
