<html>

<include file="Common/head"/>

<body>

<include file="Common/nav"/>


<style>

    .table{width:100%;}
    .table,.table td{border:solid 1px #ccc;}
    .table th{border:solid 1px #ccc;width:10px;}
    .table thead tr td{background: #f1f1f1;color:#F1F1F1;}
    .table,th,td{ border-collapse: collapse;background:#fff;}
    #listdiv{width: 90%; height:100px;MARGIN-RIGHT: auto; MARGIN-LEFT: auto;}
</style>



<div id="listdiv" >


</div>




</body>
</html>



<script type="text/javascript">
    // 百度地图API功能



    function displaylist(data){

        var txthtml="";

        txthtml +="<table id=\"table\" class=\"table\" >";
        txthtml+=" <tr>";
        txthtml+=" <th>冷库名称<\/th>";
        txthtml+=" <th>价格((元/吨/年)<\/th>";
        txthtml+=" <th>联系人<\/th>";
        txthtml+=" <th>电话<\/th>";
        txthtml+=" <th>总吨位<\/th>";
        txthtml+=" <th>剩余吨位<\/th>";
        txthtml+=" <th>满仓率<\/th>";
        txthtml+="<th>地址<\/th>";
        txthtml+="<th>缩略图<\/th>";
        txthtml+=" <\/tr>";


        $.each(data,function(key,val){
            txthtml +="<tr>";
            txthtml += "<td width=\"8%\"> <a href=\"__MODULE__/Cooler/detail/id/"+val.id +"\">"+val.name+"</a><\/td>"
            txthtml += "<td width=\"8%\">"+val.price+"<\/td>"
            txthtml += "<td width=\"8%\">"+val.lianxiren+"<\/td>"
            txthtml += "<td width=\"8%\">"+val.phone+"<\/td>"
            txthtml += "<td width=\"8%\">"+val.total+"<\/td>"
            txthtml += "<td width=\"8%\">"+val.free+"<\/td>"
            txthtml += "<td width=\"8%\">"+(val.total - val.free)/val.total+"<\/td>"
            txthtml += "<td width=\"8%\">"+val.loc+"<\/td>"
            txthtml += "<td width=\"8%\"> <img src={$Think.const.ADMIN_UPLOAD_URL}"+val.small_img+" height=\"40\" width=\"40\"><\/td>"
            txthtml +="<\/tr>"

        });

        txthtml+=" <\/table>";


        $('#listdiv').html(txthtml);

    }


</script>
