<html>

<include file="Common:head"/>

<body>

<include file="Common::top"/>
<div id="content">

</div>


<include file="Common::bottum"/>

</body>
</html>


<?php echo $cooler ?>;

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3nbIhiC4xvRt2ofWcRPAo4uj"></script>




<script type="text/javascript">
    // 百度地图API功能

    function addMarker(point){
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
    }

    // 百度地图API功能
    var map = new BMap.Map("content");
    var point = new BMap.Point(116.235237, 35.079983);
    map.enableScrollWheelZoom();
      //map.centerAndZoom(point, 12);
    // addMarker(point);

    function getBoundary(){
        var bdary = new BMap.Boundary();
        bdary.get("金乡县", function(rs){       //获取行政区域
           // map.clearOverlays();        //清除地图覆盖物
            var count = rs.boundaries.length; //行政区域的点有多少个
            if (count === 0) {
                alert('未能获取当前输入行政区域');
                return ;
            }
            var pointArray = [];
            for (var i = 0; i < count; i++) {
                var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: "blue"}); //建立多边形覆盖物
                ply.setStrokeStyle("dashed");
                ply.setFillColor("none");
                map.addOverlay(ply);  //添加覆盖物
                pointArray = pointArray.concat(ply.getPath());
            }
            map.setViewport(pointArray);    //调整视野
        });
    }

    function AddCooler()
   {
             var   user ={"name":"Eric","age":23};
            var   coolerArray =  <?php echo $cooler ?>;
            console.log(coolerArray);
            for(var i = 0; i<coolerArray.length;i++)
            {
                console.log(coolerArray[i].name,coolerArray[i].lat,coolerArray[i].lng);
                var point = new BMap.Point(coolerArray[i].lng, coolerArray[i].lat);
                addMarker(point);
            }

    }

    getBoundary();
    AddCooler();

</script>
