<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加冷库</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$Think.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：冷库管理-》添加冷库信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="__MODULE__/Cooder/showlist">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">

            <form action="__SELF__" method="post" enctype="multipart/form-data">
            <table border="1" width="100%" class="table_a">
                <tr>
                    <td>冷库名称</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>联系人</td>
                    <td><input type="text" name="lianxiren" /></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><input type="text" name="phone" /></td>
                </tr>
                <tr>
                    <td>冷库价格</td>
                    <td><input type="text" name="price" /></td>
                </tr>
                <tr>
                    <td>总吨位</td>
                    <td><input type="text" name="total" /></td>
                </tr>
                <tr>
                    <td>剩余吨位</td>
                    <td><input type="text" name="free" /></td>
                </tr>
                <tr>
                    <td>冷库位置</td>
                    <td><input type="text" name="loc" /></td>
                </tr>
                <tr>
                    <td>冷库经度</td>
                    <td><input type="text" name="lng" /></td>
                </tr>
                <tr>
                    <td>冷库纬度</td>
                    <td><input type="text" name="lat" /></td>
                </tr>
                <tr>
                    <td>冷库图片</td>
                    <td><input type="file" name="img" /></td>
                </tr>
                <tr>
                    <td>冷库详细描述</td>
                    <td>
                        <textarea name="cooler_note"></textarea>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="添加">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>
