
#top{
    margin:auto;
    width:95%;
    height: 70px;
    background-color: lightgreen;
}
#content{
    margin:auto;
    width:95%;
    height: 100%;
    background-color: #fff0e8;
}
#left{
    float: left;
    margin: 0;
    width: 10%;
    height: 100%;
    background-color: cornflowerblue;
}
#right_map {

    float: right;
    margin: 0;
    width: 90%;
    height: 100%;
    background-color: #0099CC;
}


#bottum{
    margin:auto;
    width:95%;
    height: 70px;
    background-color: lightgreen;
}

body,html{
    margin: 0;
}