<script type="text/JavaScript" src='{$Think.const.JS_URL}jquery_1.6.1.js'></script>

<style>

#ProvinceList{
    background-color: white;
    width: auto;
    height:auto;
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 999;
    opacity: 0.9;
    border: solid 1px grey;
}

#CityList {
    background-color: white;
    color: black;
    width: 100px;
    height:auto;
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 99;
    opacity: 0.9;
    border: solid 1px grey;
}
#CityListTopBar{
    color: red;
    text-align:center;
}

#CountyList {
    background-color: white;
    color: black;
    width: auto;
    height:auto;
    position: absolute;
    top: 30px;
    left: 110px;
    z-index: 99;
    opacity: 0.9;
    text-align: left;
    border: solid 1px grey;
}
</style>


<div class='top-list-wrap'>
    <div class='top-list'>
        <ul  class='l-list'>
           <li> <div id="ProviceCurrent" >  </div> </li>
        </ul>
    </div>
</div>
<div id="nav">
</div>


<script >


        var   m_ProviceCurrent ="上海市";




    $(function(){

        $('#ProviceCurrent').html(m_ProviceCurrent);
        getBoundary(m_ProviceCurrent,"black","solid",2);



  /*      var map = new BMap.Map("content");
        map.enableScrollWheelZoom(true);
        var myGeo = new BMap.Geocoder();

        var add = "山东省青岛市崂山区松岭路1111号";
        myGeo.getPoint(add, function(point){
            console.log("point = " + point.lng ,point.lat);
            if (point) {
                var address = new BMap.Point(point.lng, point.lat);
                var marker = new BMap.Marker(address);
                map.addOverlay(marker);
                marker.setLabel("aaaa");

                map.centerAndZoom(new BMap.Point(point.lng,point.lat), 13);

            }
        }, "合肥市");
        return ;
*/



        var   allstr = '{$allstr}';
        var allarray=eval("("+allstr+")");

        var txtHtml ="";
        var index = 0;
        $.each(allarray,function(key,val){
           if(val.pid == 1 ) {
               //txtHtml += '<a href="#" id='+val.id+'>'+ " " +val.province +'</a>';
               if(index%2 == 0){
                   txtHtml += '<ul> ';
               }
               txtHtml += '<li style= display:inline>';

               txtHtml += '<a href="#" id=';
               txtHtml +=val.id+'>';
               txtHtml += " ";
               txtHtml +=val.province;
               txtHtml +='</a>';

               txtHtml += '</li> ';
               index++;
               if(index%2 == 0){
                   txtHtml += '</ul> ';
               }
            }
        });



        $("#nav").append(" <div id='ProvinceList'> </id>");
        $('#ProviceCurrent').live('mouseover',function() {
            $('#ProvinceList').show();
        })
        $('#ProvinceList').live('mouseleave',function() {
            $('#ProvinceList').hide();
        })

        $("#ProvinceList").html(txtHtml);
        $("#ProvinceList").hide();
/*
        var actionmane = "{$Think.const.ACTION_NAME}";
        if(actionmane == "showmap" || actionmane == "showlist"){
            $("#ProvinceList").html(txtHtml);
        }
*/


        $("#nav").append(" <div id='CityList'> </id>");
        $("#CityList").show();

        $("#CityList").append(" <div id='CityListTopBar'> </id>");
        $("#CityListTopBar").html("区域");

        $("#CityList").append(" <div id='CityListBottum'> </id>");



        $("#nav").append(" <div id='CountyList'> gg</id>");
        $('#CountyList').hide();


        $('#CountyList').live('mouseleave',function() {
            $('#CountyList').hide();
        })


        $('#ProvinceList >ul>li> a').live('click',function() {
            getBoundary($(this).html(),"black","solid",2);
            m_ProviceCurrent = $(this).html();
            $('#ProviceCurrent').html(m_ProviceCurrent);
            var id =$(this).attr('id');
            var txtHtml ="";
            var index=0;


            $.each(allarray,function(key,val){

                if(val.pid == id) {
                    if(index%2 == 0){
                        txtHtml += '<ul> ';
                    }
                    txtHtml += '<li style= display:inline >';

                    txtHtml += '<a href="#" id=';
                    txtHtml +=val.id;
                    txtHtml +='>';
                    txtHtml += " ";
                    txtHtml +=val.city;
                    txtHtml +='</a>';

                    txtHtml += '</li> ';
                    index++;
                    if(index%2 == 0){
                        txtHtml += '</ul> ';
                    }
                }
            });

            $("#CityListBottum ").html(txtHtml);
        })



        $('#CityListBottum li a').live('click',function() {

            $.post("__MODULE__/Cooler/getcooler", {
                cid :  $(this).attr('id') ,
            }, function (data, textStatus){
                displaymap(data);
            },"json");

        })

        $('#CityListBottum li a').live('mouseover',function() {

            $('#CountyList').show();
            getBoundary($(this).html(),"blue","solid",1);

            console.log("city:"+$(this).html() + ",id:"+$(this).attr('id'));

            var txtHtml ="";

            $(this).parent().parent().find('a').each(function(){
                var index=0;
                var id =$(this).attr('id');
                txtHtml += '<ul><li style= "text-align:center;color: red" >';
                txtHtml += $(this).html();
                txtHtml += '</li></ul>';

                $.each(allarray,function(key,val){
                    if(val.pid == id) {
                        if(index%2 == 0){
                            txtHtml += '</ul> ';
                            txtHtml += '<ul> ';
                        }
                        txtHtml += '<li style= display:inline>';

                        txtHtml += '<a href="#" id=';
                        txtHtml +=val.id+'>';
                        txtHtml += " ";
                        txtHtml +=val.district;
                        txtHtml +='</a>';

                        txtHtml += '</li> ';
                        index++;
                        if(index%2 == 0){
                            txtHtml += '</ul> ';
                        }

                    }
                });

            });

            $("#CountyList ").html(txtHtml);




        })

        $('#CountyList >ul>li> a').live('mouseover',function() {
            console.log("city:"+$(this).html() + ",id:"+$(this).attr('id'));
            getBoundary($(this).html(),"red","solid",1);

/*
            $.post("__MODULE__/Cooler/getcooler", {
                cid :  $(this).attr('id') ,
            }, function (data, textStatus){
                displaymap(data);
            },"json");

*/




        })



    })


</script>

