<php>

    import('Class.Category',APP_PATH);
    $cate = M('cate')->order('sort')->select();
    $cate = Category::unLimitedForLevel($cate);
    $province = Category::getChilds2($cate,1);
    /*
   $city = Category::getChilds2($cate,2);
    $county = Category::getChilds2($cate,4);
    $town = Category::getChilds2($cate,6);
*/
</php>

{/* 这是模板注释内容*/ }




<script type="text/JavaScript" src='{$Think.const.JS_URL}jquery_1.9.js'></script>





<script language=javascript>
    var   catjson;
    $(function(){

        $('#provincediv > a').click(function() {

            var pid = $(this).attr('id');
            var txtHtml="";
            $.post("__MODULE__/Index/getcate", {
                pid :  pid ,
            }, function (data, textStatus){
                $.each(data,function(key,val){
                    txtHtml += '<a href="#" id='+val.id+'>'+ val.name +'</a>';
                    console.log('_mozi数组中 ,索引 : '+key+' 对应的值为: '+val.name);
                });
                console.log(txtHtml);
                $('#citydiv').html(txtHtml);
            },"json");
            })
    })

    var coutryid =1;
    var provinceid =0;
    var cityid =0;
    var countyid =0;
    var townid =0;

</script>


<div class='top-list-wrap'>
    <div class='top-list'>
        <ul class='l-list'>
            <li><a href="__MODULE__/Index/index" >首页</a></li>
            <li><a href="#" >地图</a></li>
            <li><a href="#">列表</a></li>

        </ul>
        <ul class='r-list'>
            <li><a href="/cooler/index.php/Admin/Manager/login">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
    </div>
</div>


<div id="nav">
    <div align="left">


        <div id='provincediv' style="text-align: left">
                <foreach name="province" item="value">
                        <a id="{$value['id']}" href="#" >--{$value['name']}</a>
                </foreach>

        </div>

        <div id='citydiv' style="text-align: left">

            <foreach name="city" item="value">
                <a id="{$value['id']}" href="#" >--{$value['name']}</a>
            </foreach>

        </div>

        <div id='countydiv' style="text-align: left">
            <foreach name="county" item="value">
                <a id="{$value['id']}" href="#" >--{$value['name']}</a>
            </foreach>
        </div>

        <div id='towndiv' style="text-align: left">
            <foreach name="town" item="value">
                <a id="{$value['id']}" href="#" >--{$value['name']}</a>
            </foreach>
        </div>





        </div>





</div>
