
<div id="top">


      <div align="center">

          <div style="text-align: right">
              <a href="__CONTROLLER__/map" > 地图</a>
              <a href="__CONTROLLER__/list" > 列表 </a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/cooler/index.php/Admin/Manager/login" > 登录</a>
              <a href="#" > 注册</a>
          </div>

          <div style="text-align: left">

          <a href="__MODULE__/Index/select/county/1" >金乡县</a>
              <a href="__MODULE__/Index/select/county/2" >成武县</a>
              <a href="__MODULE__/Index/select/county/3" >寿光市</a>
          </div>

          <div style="text-align: left">
              <foreach name="loc_town" item="vo" key="k" >

                  <a href="__MODULE__/Index/select/county/1/town/{$vo[id]}"> {$vo[name]},</a>
              </foreach>
        </div>
        
        </div>





</div>
