<div id="top">

    <form id="form1" name="form1" method="post" action="">

      <div align="center">
        <p>
          <input type="text" name="search" id="search" />
          <input type="submit" name="search2" id="search2" value="search" />
            <div>
          <ul>
              <li style="float:right;">
                   列表
              </li>
              <li style="float:right;">
                  -
              </li>
              <li style="float:right;">
                  地图
              </li>
          </ul>

            </div>
        </p>
      </div>
    </form>

</div>
