
<div id="top">


      <div align="center">

          <div style="text-align: right">
              登录 注册
              </div>
          <div style="text-align: left">

          <a href="__MODULE__/Index/select/county/1" >金乡县</a>
              <a href="__MODULE__/Index/select/county/2" >成武县</a>
              <a href="__MODULE__/Index/select/county/3" >寿光市</a>
          </div>

          <div style="text-align: left">
              <foreach name="loc_town" item="vo" key="k" >

                  <a href="__MODULE__/Index/select/county/1/town/{$vo[id]}"> {$vo[name]},</a>
              </foreach>
        </div>
        
        </div>





</div>
